:root {
  --heading: 'Bellefair', serif;
  --heading2: 'Barlow Condensed', sans-serif;
  --bodyText: 'Barlow', sans-serif;

  --bgBody: #decfcf;
  --highlightPrimary: #b91646;
  --textPrimary: #0b0d17;
  --textSecondary: #383b4b;
  --bgCard: rgba(185, 22, 70, 0.1);
  --bg-menu: rgba(255, 255, 255, 0.4);
  --bgSecondary: rgb(245, 215, 215);
  --bgActive: rgba(185, 22, 70, 0.5);
  --white: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0;
  list-style: none;
}

body {
  background: var(--bgBody);
  font-family: var(--bodyText);
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.container {
  margin-left: 125px;
}

.menuContainer {
  margin-top: 40px;
  margin-bottom: 55px;
  display: flex;
  align-items: center;
  width: 100%;
}

.line {
  width: 40%;
  height: 1px;
  border-radius: 2px;
  background-color: var(--highlightPrimary);
}

.menu {
  width: 60%;
  background-color: var(--bg-menu);
  display: flex;
  border-radius: 8px 0px 0px 8px;
  gap: 48px;
  padding: 38px;
  text-transform: uppercase;
  font-family: var(--heading2);
  letter-spacing: 2.7px;
}
.menuItem {
  cursor: pointer;
  display: flex;
  gap: 12px;
}

.menuItem span {
  font-weight: bold;
}

.menuItem:hover {
  color: var(--highlightPrimary);
  transition: all 0.3s;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.subtitleHeader {
  color: var(--highlightPrimary);
  font-size: 40px;
}

.titleHeader {
  font-size: 96px;
}

.containerLink {
  display: flex;
  gap: 10px;
}

.containerLink img {
  width: 35px;
  height: 35px;
}

.containerLink a:hover {
  scale: 0.8;
  transition: all 0.3s;
}
